@model int

@{ 
    ViewBag.Title = "404 Error";
}

<div class="alert alert-danger mt-1 mb-1">
    <h4>404 Not found error</h4>
    <hr />
    <h5>
        Contact with @Model not found
    </h5>
</div>
<a class="btn btn-outline-success" asp-controller="home" asp-action="index" style="width:auto">Click to see Contacts</a>